[submodule "Adafruit-GFX-Library"]
	path = Adafruit-GFX-Library
	url = https://github.com/nochkin/Adafruit-GFX-Library.git
[submodule "Adafruit_SSD1306"]
	path = Adafruit_SSD1306
	url = https://github.com/nochkin/Adafruit_SSD1306.git
